<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [2]:
# create empty list, name it 'a'

languages = []
languages.append('R')
languages.append('Python')
languages.append('SAS')
languages.append('Scala')
languages.append(42)

In [5]:
# print the value of a

a = "Aanchal"
print (a)

Aanchal

In [7]:
# print the type of a

a = "Aanchal"
type(a)

str

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [15]:
languages = ['R','Python', 'SAS', 'Scala', 42]
print(len(languages))

5

Print the number of elements in the list

Using for loop iterate and print all the elements in the list

In [17]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]

# Using for loop to iterate and print elements
for language in languages:
    print(language)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [19]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]

# Select the second item and store it in 'temp'
temp = languages[1]

print(temp)

Python

Print the value of temp and type(temp)

In [21]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]

# Select the second item and store it in 'temp'
temp = languages[1]

# Print the value of temp
print("Value of temp:", temp)

# Print the type of temp
print("Type of temp:", type(temp))

Value of temp: Python
Type of temp: <class 'str'>

Append the element 'Java' in the list

In [23]:

languages = ['R', 'Python', 'SAS', 'Scala', 42]

# Append 'Java' to the list
languages.append('Java')

# Print the updated list
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [31]:


languages = ['R', 'Python', 'SAS', 'Scala', 42, 'Java']

# Remove 42 from the list
languages.remove(42)

# Print the updated list
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [39]:
colors = list(['Red', 'Blue', 'White'])

print (colors)

['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [41]:

colors = ['Red', 'Blue', 'White']

# Append 'Black' to the list
colors.append('Black')

# Print the updated list
print(colors)

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [43]:
colors = ['Red', 'Blue', 'White', 'Black']

# Insert 'Orange' at index 1
colors.insert(1, 'Orange')

# Print the updated list
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [49]:
colors2 = ['Grey', 'Sky Blue']

print(colors2)

['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [51]:
colors = ['Red', 'Orange', 'Blue', 'White', 'Black']
colors2 = ['Grey', 'Sky Blue']

# Extend colors with colors2
colors.extend(colors2)

# Print the updated list
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [53]:

colors = ['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

# Print the length of colors
print("Length of colors:", len(colors))

# Print the elements of colors
print("Elements of colors:", colors)

Length of colors: 7
Elements of colors: ['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [55]:

colors = ['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

# Sort the list
colors.sort()

# Print the sorted list
print("Sorted colors:", colors)

Sorted colors: ['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [57]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [59]:


sent = 'Coronavirus Caused Lockdowns Around The World.'

# Split the string into a list of words
words = sent.split()

# Print the list of words
print("List of words:", words)

List of words: ['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [61]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

# Split the string into a list of words
words = sent.split()

# Convert each word to lower case and store in words_lower
words_lower = [word.lower() for word in words]

# Print the list of words in lower case
print("List of words in lower case:", words_lower)

List of words in lower case: ['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [63]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

# Split the string into a list of words
words = sent.split()

# Check if 'country' is in the list
if 'country' in words:
    print("'Country' is in the list.")
else:
    print("'Country' is not in the list.")

'Country' is not in the list.

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [73]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

# Split the string into a list of words
words = sent.split()

# Remove 'the' from the list
words = [word for word in words if word.lower() != 'the']

# Print the updated list
print("Updated list:", words)

Updated list: ['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'World.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [75]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

# Split the string into a list of words
words = sent.split()

# Convert each word to lower case
words_lower = [word.lower() for word in words]

# Select the first 4 words using slicing
x4 = words_lower[:4]

# Print the selected words
print("First 4 words:", x4)

First 4 words: ['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [79]:
# Join the elements of x4 into a single string
x4_str = ' '.join(x4)

# Print the resulting string
print("Joined string:", x4_str)

Joined string: coronavirus caused lockdowns around

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [81]:
stud_grades = ['A', 'A', 'B', 'C', 'C', 'F']

Print the len of stud_grades

In [83]:

stud_grades = ['A', 'A', 'B', 'C', 'C', 'F']

# Print the length of the list
print("Number of grades:", len(stud_grades))

Number of grades: 6

Create a new variable, stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [ ]:
stud_grades = ['A', 'A', 'B', 'C', 'C', 'F']

# Create a set from the list
stud_grades_set = set(stud_grades)

# Print the set
print("Set of grades:", stud_grades_set)

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [91]:

stud_grades = ['A', 'A', 'B', 'C', 'C', 'F']
stud_grades_set = set(stud_grades)

# Print the types
print("Type of stud_grades:", type(stud_grades))
print("Type of stud_grades_set:", type(stud_grades_set))

# Print the elements
print("Elements of stud_grades:", stud_grades)
print("Elements of stud_grades_set:", stud_grades_set)

Type of stud_grades: <class 'list'>
Type of stud_grades_set: <class 'set'>
Elements of stud_grades: ['A', 'A', 'B', 'C', 'C', 'F']
Elements of stud_grades_set: {'F', 'C', 'A', 'B'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [93]:

stud_grades = ['A', 'A', 'B', 'C', 'C', 'F']
stud_grades_set = set(stud_grades)

# Add a new element 'G' to the set
stud_grades_set.add('G')

# Print the updated set
print("Updated stud_grades_set:", stud_grades_set)

Updated stud_grades_set: {'A', 'C', 'F', 'G', 'B'}

Add element 'F' to stud_grades_set. and print it.

In [95]:
stud_grades = ['A', 'A', 'B', 'C', 'C', 'F']
stud_grades_set = set(stud_grades)

# Add element 'F' to the set
stud_grades_set.add('F')

# Print the updated set
print("Updated stud_grades_set:", stud_grades_set)

Updated stud_grades_set: {'F', 'C', 'A', 'B'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [97]:
stud_grades = ['A', 'A', 'B', 'C', 'C', 'F']
stud_grades_set = set(stud_grades)

# Remove 'F' from the set
stud_grades_set.remove('F')

# Print the updated set
print("Updated stud_grades_set:", stud_grades_set)

Updated stud_grades_set: {'C', 'A', 'B'}

Print the elements and the length of stud_grades_set

In [101]:
stud_grades = ['A', 'A', 'B', 'C', 'C', 'F']
stud_grades_set = set(stud_grades)

# Remove 'F' from the set
stud_grades_set.remove('F')

# Print the elements and length of the set
print("Elements of stud_grades_set:", stud_grades_set)
print("Length of stud_grades_set:", len(stud_grades_set))

Elements of stud_grades_set: {'C', 'A', 'B'}
Length of stud_grades_set: 3

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [ ]:
colors = ['red', 'blue', 'orange']
fruits = ['orange', 'grapes', 'apples']

Print color and fruits

In [111]:
colors = ['red', 'blue', 'orange']
fruits = ['orange', 'grapes', 'apples']

print (colors, fruits)

['red', 'blue', 'orange'] ['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [113]:
colors = ['red', 'blue', 'orange']
fruits = ['orange', 'grapes', 'apples']

# Create sets from the lists
colors_set = set(colors)
fruits_set = set(fruits)

# Print the sets
print("Colors Set:", colors_set)
print("Fruits Set:", fruits_set)

Colors Set: {'blue', 'orange', 'red'}
Fruits Set: {'apples', 'orange', 'grapes'}

Find the union of both the sets.

In [115]:

colors = ['red', 'blue', 'orange']
fruits = ['orange', 'grapes', 'apples']

# Create sets from the lists
colors_set = set(colors)
fruits_set = set(fruits)

# Find the union using | operator
union_using_operator = colors_set | fruits_set

# Find the union using union() method
union_using_method = colors_set.union(fruits_set)

# Print the unions
print("Union using | operator:", union_using_operator)
print("Union using union() method:", union_using_method)

Union using | operator: {'apples', 'orange', 'grapes', 'red', 'blue'}
Union using union() method: {'apples', 'orange', 'grapes', 'red', 'blue'}

Find the intersection of both the sets

In [117]:
colors = ['red', 'blue', 'orange']
fruits = ['orange', 'grapes', 'apples']

# Create sets from the lists
colors_set = set(colors)
fruits_set = set(fruits)

# Find the intersection using & operator
intersection_using_operator = colors_set & fruits_set

# Find the intersection using intersection() method
intersection_using_method = colors_set.intersection(fruits_set)

# Print the intersections
print("Intersection using & operator:", intersection_using_operator)
print("Intersection using intersection() method:", intersection_using_method)

Intersection using & operator: {'orange'}
Intersection using intersection() method: {'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [119]:


colors = ['red', 'blue', 'orange']
fruits = ['orange', 'grapes', 'apples']

# Create sets from the lists
colors_set = set(colors)
fruits_set = set(fruits)

# Find the elements in fruits_set but not in colors_set
fruits_not_colors = fruits_set.difference(colors_set)

# Print the result
print("Fruits that are not colors:", fruits_not_colors)

Fruits that are not colors: {'apples', 'grapes'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [121]:
temp = (17, 'Virat', 50.0)

Iterate through temp and print all the items in temp

In [123]:
temp = (17, 'Virat', 50.0)

# Iterate through temp using a for loop
for item in temp:
    print(item)

17
Virat
50.0

replace first element with 11 in temp

In [125]:
temp = (17, 'Virat', 50.0)

# Create a new tuple with the first element replaced
new_temp = (11,) + temp[1:]

print(new_temp)

(11, 'Virat', 50.0)

Set temp1 = tuple(temp)

In [127]:
temp = [17, 'Virat', 50.0]
temp1 = tuple(temp)

print(temp1)

(17, 'Virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [129]:

temp = [17, 'Virat', 50.0]
temp1 = tuple(temp)

# Iterate through temp1 using a for loop
for item in temp1:
    print(item)

17
Virat
50.0

replace first element with 17 in temp1

In [131]:

temp = [17, 'Virat', 50.0]
temp1 = tuple(temp)

# Create a new tuple with the first element replaced
new_temp1 = (7,) + temp1[1:]

print(new_temp1)

(7, 'Virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [133]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [135]:
print(city[0])  
print(city[1])  
print(city[2])

Bangalore
28.9949521
72

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [143]:
city2 = ("Chennai", 30.01, 74)
print(city2[0])  
print(city2[1])  
print(city2[2])

Chennai
30.01
74

Create cities which consist of city and city2

In [145]:
city = ("Bangalore", 28.9949521, 72)
city2 = ("Chennai", 30.01, 74)

cities = (city, city2)

Print cities

In [155]:
city = ("Bangalore", 28.9949521, 72)
city2 =  ("Chennai", 30.01, 74)

cities = (city, city2)

print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [163]:
city = ("Bangalore", 28.9949521, 72)
city2 =("Chennai", 30.01, 74)

cities = (city, city2)
print(type(cities[0][0]))  
print(type(cities[0][1]))  
print(type(cities[0][2]))

<class 'str'>
<class 'float'>
<class 'int'>

print the type of cities

In [161]:
city = ("Bangalore", 28.9949521, 72)
city2 =("Chennai", 30.01, 74)

cities = (city, city2)

print(type(cities[0]))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [165]:
d = {"actor": "amir", "animal": "cat", "earth": 2, "list": [23, 32, 12]}

Print the value of d[0]

In [171]:
print (d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [173]:
d = {"actor": "Salman", "animal": "cat", "list": [23, 32, 12], "city": "Mumbai"}
actor = d['actor']
print(actor)

Salman

Print the type of actor

In [175]:
type('actor')

str

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [ ]:
d = {"actor": "Salman", "animal": "cat", "list": [20,30,40], "city": "Mumbai"}

Print the type of List.

In [177]:
d = {"actor": "Salman", "animal": "cat", "list": [20,30,40], "city": "Mumbai"}
type ("list")

str

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [ ]:
 d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

Merge d1 into d.

In [187]:
d = {"actor": "Salman", "animal": "cat", "list": [23, 32, 12], "city": "Mumbai"}
d1 = {"singer" :"Kr$na" , "album": "Still here", "genre" : "hip-hop"}

d.update(d1)
print(d)

{'actor': 'Salman', 'animal': 'cat', 'list': [23, 32, 12], 'city': 'Mumbai', 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [189]:
d = {'actor': 'Salman', 'animal': 'cat', 'list': [23, 32, 12], 'city': 'Mumbai', 'country': 'India', 'sport': 'Cricket'}

print(d.keys())

dict_keys(['actor', 'animal', 'list', 'city', 'country', 'sport'])

Print all the values in d

Iterate over d, and print each key, value pair as this - (actor ----> amir)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.